section.hero .hero-body .container {
    margin: 0 auto;
}

#home-button-container {
    margin: 0 auto;
}

#home-button-container .button {
    transition: 0.3s all;
}

a {
    transition: opacity 0.35s ease-in;
}

a:hover {
    opacity: 0.75;
}