<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catan Board Generator</title>

    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="static/css/homepage.css">

    <!--Import FontAwesome Kit via CDN  -->
    <script src="https://kit.fontawesome.com/1873b48eb1.js" crossorigin="anonymous"></script>
    <!--Import jQuery via CDN-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title is-size-2">
                    Catan Board Generator
                </p>
                <p class="subtitle is-size-5">
                    Add variety to your game night while keeping things fair!
                </p>
                <div class="columns is-desktop buttons are-large is-desktop" id="home-button-container">
                    <div class="column has-text-right-desktop is-full is-half-desktop">
                        <button class="button is-success is-fullwidth" id="balanced-button"
                            onclick="handleHomeButtonPress(true);">
                            <span class="icon">
                                <i class="fas fa-balance-scale"></i>
                            </span>
                            <span>Generate <strong>balanced board</strong></span>
                        </button>
                    </div>
                    <div class="column has-text-left-desktop is-full is-half-desktop">
                        <button class="button is-danger is-fullwidth" id="unbalanced-button"
                            onclick="handleHomeButtonPress(false);">
                            <span class="icon">
                                <i class="fas fa-balance-scale-right"></i>
                            </span>
                            <span>Generate <strong>unbalanced board</strong></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered pb-2">
                <p>
                    <span class="mr-1">
                        <strong>Catan Board Generator</strong> by
                        <a href="https://ivanovich.us" target="_blank">
                            <span class="is-underlined">Dan Ivanovich</span></a>
                    </span>
                    <span class="ml-1">
                        <a href="https://github.com/Ivanov1ch/Catan" target="_blank">
                            <span class="icon-text">
                                <span class="icon is-size-4">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span class="is-underlined">Check it out on GitHub!</span>
                            </span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="static/js/home.js"></script>
</body>

</html>